/*
Name: Troy Garcia
File: header-style.css
Description: Styling used for the header will be found here
*/
footer {
    background: #666666;
    font-family: Arial, Helvetica, sans-serif;
    padding: 30px 0 10px 0;
    text-align: center;
    border-style: solid;
    border-top-width: 10px;
    border-top-color:#4aaaa5;
  }
  h3 {
      color: #ffffff;
      margin: 5px;
  }